body {
    padding: 70px;
    background-image: url(assets/UP.png);
    background-color: #9b111e;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    user-select: none;
}
img {
    height: 125px;
}
#content {
    text-align: center;
    display: block;
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
#timer {
    font-size: 50px;
    font-weight: 750;
}
#message {
    font-size: 40px;
}